<a href="https://colab.research.google.com/github/teeranutp/machine-learning/blob/master/LinearModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine learning Linear Model 002
#Full dataset no split data

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

#read CSV

In [8]:
cali_house_test = pd.read_csv("/content/sample_data/california_housing_test.csv")
cali_house_test.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [15]:
cali_house_test.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

#select columns

In [16]:
list_columns =  ['housing_median_age', 'total_rooms',
       'total_bedrooms',  'households', 'median_income']

In [17]:
train_data = cali_house_test[list_columns]

In [27]:
features = train_data
features.head()

   housing_median_age  total_rooms  total_bedrooms  households  median_income
0                27.0       3885.0           661.0       606.0         6.6085
1                43.0       1510.0           310.0       277.0         3.5990
2                27.0       3589.0           507.0       495.0         5.7934
3                28.0         67.0            15.0        11.0         6.1359
4                19.0       1241.0           244.0       237.0         2.9375

In [22]:
target = cali_house_test['median_house_value']

In [24]:
target

0       344700.0
1       176500.0
2       270500.0
3       330000.0
4        81700.0
          ...
2995    225000.0
2996    237200.0
2997     62000.0
2998    162500.0
2999    500001.0
Name: median_house_value, Length: 3000, dtype: float64

#Target = f(features)
#Training = fitting

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error
LinearModel = LinearRegression()
LinearModel.fit(features, target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#Predict

In [39]:
predictions = LinearModel.predict(features)

#Evaluate model

In [53]:
print("MAE:",mean_absolute_error(predictions, target))
print("MSE:",mean_squared_error(predictions, target))
print("RMSE:",mean_squared_error(predictions, target, squared = False))

MAE: 57398.71471938929
MSE: 6034575440.492591
RMSE: 77682.5298280932

#Actual

In [36]:
target.head()

0    344700.0
1    176500.0
2    270500.0
3    330000.0
4     81700.0
Name: median_house_value, dtype: float64